// classi preliminari
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: map-get($colors,'color-3');
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}
// /classi preliminari

// elementi generici

// tipi di bottoni
// tutti
button {
    text-transform: capitalize;
    img {
        height: 20px;
        vertical-align: middle;
    }
}
// /tutti
// color: white or blue
@each $color in color-1, color-4 {
    .button-#{$color} {
        background-color: map-get($colors,#{$color});
        @if (#{$color} == 'color-1') {
            color: map-get($colors,'color-4');
        }
        @else {
            color: map-get($colors,'color-1');
        }
        border: 1px solid map-get($colors,'color-4');
        border-radius: 5px;
    }
}
// /color
// size: big or small
@each $name, $size in $size-button-padding {
    .button-#{$name} {
        padding: $size * 1px;
    }
}
// /size
// /tipi di bottoni

// liste
ul {
    list-style: none;
    &.horizontal {
        li {
            display: inline-block;
        }
    }
}
// /liste

// sfondi e relative caratteristiche
@each $color in color-1, color-2 {
    .background-#{$color} {
        background-color: map-get($colors,$color);
        @if (#{$color} == 'color-1') {
            .block {
                display: flex;
                & > div {
                    width: 50%;
                    & > img {
                        width: 100%;
                    }
                }
            }
        }
        @else {
            .wrapper {
                text-align: center;
            }
        }
    }
}
// /sfondi e relative caratteristiche

// elemento inline
.inline {
    & > * {
        display: inline-block;
        vertical-align: middle;
        padding-right: 10px;
    }
}
// /elemento inline

h1 {
    line-height: 1.5em;
    font-size: 2em;
}

hr {
    border: 1px solid map-get($colors,'color-3');
    margin: 50px auto;
}

// /elementi generici