footer {
    .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @include links;
        @include paddings;
        & > div:first-child {
            flex-basis: 30%;
            display: flex;
            img {
                height: 50px;
                margin-right: 10px;
            }
        }
        & > div:last-child {
            flex-basis: 20%;
        }
        h4 {
            text-transform: capitalize;
        }
        h5 {
            a {
                color: map-get($colors,'color-4');
            }
        }
    }
}