header {
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: map-get($colors,'color-1');
    & > div {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid map-get($colors,'color-3');
        li {
            margin-left: 10px;
            @include links;
        }    
    }
}