@mixin links {
    a,
    button {
        font-weight: bold;
        font-size: 0.8em;
        text-transform: capitalize;
        font-family: 'Roboto', sans-serif;
    }
    a {
        color: map-get($colors,'color-3');
        text-decoration: none;
    }
}

@mixin paddings {
    *:not(:empty):not(button):not(li):not(.cit):not(.special),
    *:not(button) > img {
        padding: 10px 0;
        vertical-align: middle;
    }
    .cit {
        padding: 10px;
        h6 {
            padding: 0;
            a {
                padding: 0;
            }
        }
    }
}